@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
@keyframes question-mark {
  0% {
    transform: scale(1) rotate(180deg);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.question-mark {
  display: inline-block;
  animation: question-mark 0.5s ease-in-out 1;
}

body {
  background: #e2d5c8;
  color: #1d0c0c;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "PT Serif", serif;
}

main {
  position: relative;
  width: 1440px;
  height: 1024px;
}
header {
  margin-top: 25px;
  padding: 32px;
  min-height: auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 64px;
}
h1 {
  padding: 16px;
  text-align: center;
}

.steve {
  margin: 0 auto;
  display: block;
  &:hover {
    transform: scale(1.5);
  }
}
.about {
  background: #e2d5c8;
  padding: 5% 5% 12% 5%;
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1d0c0c;

  &--header {
    background: #f1e6e0;
    padding: 5% 5% 12% 5%;
    display: flex;
    flex-direction: column;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #1d0c0c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    text-align: center;
  }
  &--description {
    margin: 16px;
  }
}
footer {
  text-align: center;
  padding: 16px;
}
a {
  text-decoration: none;
  color: #e0a88a;
  padding: 3px;
}
